
#nav_section{

}

h1{
    margin-bottom: 30px;
}

.container{
    margin-bottom: 100px;
}

.carousel{
    padding: 10px 20px;
}
.buy_now{
    background: #000000;
    color: #fff;
    border-radius: 5px;
}

.card{

    text-align: center;
    box-shadow: 5px 5px 10px black;
}

#img1 {
    padding: 0px 51px;
}



.last{
    margin-top: 40px;
}

.size{
    background: #fff;
    padding: 20px;
    box-shadow: 5px 5px 10px #ddd;
    margin: 10px;
    margin-left: 0;
}

#last_size{
    width: 100%;
}

